

   
   

.menu{
 display: flex;
    height: 300px;
    width: 100%;
    background: linear-gradient(to top right, #aa899b, #1A5865);
    

}

.animation{
   
    height: 300px;
  background: linear-gradient(to top right, #7E0F4B, #1A5865);
  min-height: 100vh;
  display: grid;
place-items: center;


}
.essai{
    color: white;
    padding: 15px;
    
}
.bigboxe {
  width: 1100px;
  height: 800px;
  display: flex;
    }


@keyframes tipsy {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  .bg {
    font-family: helvetica, arial, sans-serif;
    background: linear-gradient(to top right, #7E0F4B, #1A5865);
    
    

  }
  
  a {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
  }
  

 .animation a:after {
      content: '';
      padding: 0.9em 8.4em;
      position: absolute;
      left: 50%;
      width: 30%;
      top: 82%;
      display: block;
      border: 15px solid rgb(205, 22, 22);
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
      animation: 5s infinite alternate ease-in-out tipsy;
      z-index: 9;

  }
 .blanc{
   font-size: 3.5em;
   
   
   
 }
  .animation a:before {
    content: '';
    padding: 0.9em 3.4em;
    position: absolute;
    left: 50%;
    width: 10%;
    top: 82%;
    display: block;
    border: 15px solid rgb(239, 150, 150);
    height: 50px;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 5s infinite alternate ease-in-out tipsy;
    z-index: 9;
  }
  
  

  .nav_bar{
    text-align: center;
    font-size:  1.5em; 
  }
  .grand{
  
    padding-bottom: 200px;
  }
  .nav_bar_ul{
    display: inline-flex;
    list-style: none;
    color: whitesmoke;
    font-size: 1.5rem;
    margin: 25px;
    padding:25px;
    
  }
  .nav_bar_ul li{
    margin: 20px;
    padding: 20px;
    font-size: 20px;
  }
  .active , .nav_bar_ul li:hover { 
   background: #7E0F4B;
   border-radius: 3px;
   align-items: center;
   

  }
  .footer{
     width: 100%;
     display: flex;
  }
  .appreciations{
    color: white;
    padding: 25px;
    width: 33%;
    
    display: flex;
  flex-direction: column;

  }
  #cadre{
   width: 80px;
    padding: 50px;
    position: relative;
  }
  #logo{
    width: 150px;
    padding: 0px;
    font-size: 1.5em;
    padding-right: 100px;
    

   
  }
   
  .marge{
    align-items: center;
    padding-left: 45px;
  font-size: 1.5em;
    
  
  }
  .com{
    padding-left:  45px;
    font-size: 1.5em;
    
  
  }
  .tarif{

    padding-left: 60px;
    padding-top: 55px;
    color: white;
  
  }
  .exellence{
    display: flex;
    flex-direction: column;
    width:33%;
    font-size: 1.5rem;
    
  }
  .bonjour{
    width: 33%;
    color: white;
    padding-left: 60px ;
    padding-top: 55px;
    font-size: 1.5rem;
    
  
  }
  .next{
  
    width:100%;
    background-image:url(ojjb8jxw.bmp) ;
    background-size: cover;
    
    
  }
  .nos_projets{
    
   display: flex;
   flex-direction: column;
  padding: 100px;
   margin: 15px;
   

  }
  .realisations{

width: 33%;
height: 500px;
color: white;

  }
  .description{
    color: wheat;
  }
  .maintenance{

width: 33%;
height: 500px; 
position: relative;
margin-left: 300px;
padding-bottom: 0px;
margin-top: 15px;
color: white;


  }
  .desingn{
width: 33%;
height: 500px;
margin-left: 600px;
padding-top: 50px;
padding-bottom: 20px;
color: white;

  }
  #image_lxq{
    width: 200px ;
    height: 100px;

  }
  #image_web{
    width: 200px;
    height: 200px;
  }
  #image_png{
    width: 200px;
    height: 90px;
    margin-top: 0px;
  }
  .technologies{
    width: 100%;

    height: 600px;
    color: white;
    display: flex;
    
  }
  .outil{
    width: 45%;
    height: 600px;
    
  

    
  }
  .sous_outil1{
    width: 500px;
    height: 130px;
  
    margin: 40px;
    align-items: center;
    padding-left: 60px;
  }
  .sous_outil2{
    width: 500px;
    height: 150px;
    
    
    margin: 40px;
    align-items: center;
    padding-left: 60px;
  }
  .sous_outil3{
    width: 500px;
    height: 190px;
    
    margin: 40px;
    align-items: center;
    padding-left: 60px;
  }
  .my_skills{
    width: 45%;
    
    height: 600px;
    padding-left: 50px;
  }
  .pourcentage_1{
    height: 20px;
    width: 500px;
    background-color: #fffbf1;
  }
  .raduis{
    background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);

      width:  450px;
      height: 20px;
      border-radius: 5px;
  }
  .pourcentage_2{
    height: 20px;
    width: 500px;
    background-color: #fffbf1;
  }
  .raduis_1{
    
    background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);

      width:  400px;
      height: 20px;
      border-radius: 5px;
  }
  .pourcentage_3{
    height: 20px;
    width: 500px;
    background-color: #fffbf1;
  }
  .raduis_2{
    
    background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);

    width:  350px;
    height: 20px;
    border-radius: 5px;
  }
 
  .pourcentage_4 {
    height: 20px;
    width: 500px;
    background-color: #fffbf1;
  }
  .pourcentage_5{
    height: 20px;
    width: 500px;
    background-color: #fffbf1;
  }
  .raduis_4{
    background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);

    width:  250px;
    height: 20px;
    border-radius: 5px;
  }
  .pourcentage_6{
    height: 20px;
    width: 500px;
    background-color: #fffbf1;
  }
  .raduis_5{
    background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);

    width:  410px;
    height: 20px;
    border-radius: 5px;
  }
  hr {
    border: none;
    border-top: 3px double rgb(51, 51, 51);
    color: #333;
    overflow: visible;
    text-align:center ;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
.bg_2{
  background-image:url(hfm42316.bmp);
  background-size: cover;
}
.vision{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
span{
  background: peru;
  border-radius: 5px;
}
.pourcentage_7{
  height: 20px;
  width: 500px;
  background-color: #fffbf1;

}
.raduis_6{
  width:  500px;
  height: 20px;
  border-radius: 5px;
  background-color: yellowgreen;
}
.translate{
  display: flex;
  
}



.tarif_1{
  display: block;
  padding-left: 270px;
  color: wheat;
  font-size: 1.5em;
   }
   .bonjour_1{
    width: 33%;
    color: wheat;
    padding-left: 100px ;
    font-size: 1.5em;
    }
    .marge_1{
      align-items: center;
      padding-left: 40px;
      color: wheat;
      font-size: 1.5em;
    
    }
    form {
      /* Uniquement centrer le formulaire sur la page */
      margin: 0 auto;
      width: 400px;
      /* Encadré pour voir les limites du formulaire */
      padding: 15px;
      border: 1px solid #CCC;
      border-radius: 1em;
    
    }
    
    form div + div {
      margin-top: 1em;
    }
    
    label {
      
      display: inline-block;
      width: 500px;
      text-align: right;
      margin: 15px;
    }
    
    input, textarea {
      
      
      font: 1em sans-serif;
    
      
      width: 300px;
      box-sizing: border-box;
    
      
      border: 1px solid #999;
    }
    
    input:focus, textarea:focus {
      
      border-color: #000;
    }
    
    textarea {
      
      vertical-align: top;
    
      
      height: 5em;
    }
    
    .button {
      
      padding-left: 90px; /* même taille que les étiquettes */
    }
    
    button {
    
         
      margin-left: 550px;
    }




    body{
      background: #67BE4B;
  }
  .form_class{
    background-color: whitesmoke;
    border-radius: 10px;
  }
 
    
    @media screen and (max-width:760px) {

      .nav_bar_ul{
        display: inline-flex;
        list-style: none;
        color: whitesmoke;
        font-size: 1.5rem;
        margin: 10px;
        padding:12px;
        
      }

      #logo{
        width: 50px;
        padding: 0px;
        font-size: 1.5em;
        padding-right: 18px;
       
      }


      .nav_bar_ul li{
        margin: 0px;
        padding: 10px;
        font-size: 20px;
      }

      a {
        color: #fffbf1;
        text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 0px;
        margin: 0;
      }


      .animation{
   
        height: 300px;
      background: linear-gradient(to top right, #7E0F4B, #1A5865);
      min-height: 60vh;
      display: grid;
    place-items: center;

    }

    .animation a{
      font-size: 14px;

      
  }
  .animation a:after {
    content: '';
    padding: 0.9em 8.4em;
    position: absolute;
    left: 50%;
    width: 30%;
    top: 52%;
    display: block;
    border: 15px solid rgb(205, 22, 22);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 5s infinite alternate ease-in-out tipsy;
    z-index: 9;

}


.animation a:before {
  content: '';
  padding: 0.9em 3.4em;
  position: absolute;
  left: 50%;
  width: 10%;
  top: 52%;
  display: block;
  border: 15px solid rgb(239, 150, 150);
  height: 50px;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 5s infinite alternate ease-in-out tipsy;
  z-index: 9;
}

.footer{
  width: 100%;
flex-direction: column;
}
.appreciations{
  color: white;
  padding: 25px;
  width: 100%;
  
  display: flex;
flex-direction: column;

}
.exellence{
  display: flex;
  flex-direction: column;
  width:100%;
  font-size: 1.5rem;
  
}
.bonjour{
  width: 100%;
  color: white;
  padding-left: 60px ;
  padding-top: 55px;
  font-size: 1.5rem;
  

}
.translate{
  display: block;
  
}
.tarif_1{
  display: block;
  padding-left: 35px;
  color: wheat;
  font-size: 1.5em;
   }
   .bonjour_1{
    width: 100%;
    color: wheat;
    padding-left: 35px ;
    font-size: 1.5em;
    } .nos_projets{
    
      display: flex;
      flex-direction: column;
     padding: 10px;
      margin: 15px;
      margin-bottom: 50px;
     }
     .realisations{

      width: 100%;
      height: 500px;
      color: white;
      margin-bottom: 50px;
      
        }
     
      .maintenance{
    
    width: 100%;
    height: 500px; 
    position: relative;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
    color: white;
    margin-bottom: 50px;
    padding-top: 50px;
    
    
      }


.raduis_2{
    
    background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);

    width:  100%;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .technologies{
    width: 100%;
    height: 100%;
    color: white;
    flex-direction: column;
    margin-bottom: 50px;
    
  }
  .maintenance{

    width: 100%;
    height: 100%; 
    position: relative;
    padding-bottom: 0px;
    margin-top: 15px;
    color: white;
    margin-bottom: 50px;
    

      }
      .desingn{
        width: 100%;
        height: 100%;
        padding-top: 80px;
        padding-bottom: 20px;
        color: white;
        margin-left: 0;
          }


          .pourcentage_1{
            height: 20px;
            width: 100%;
            background-color: #fffbf1;
          }
          .pourcentage_2{
            height: 20px;
            width: 100%;
            background-color: #fffbf1;
          }
          .pourcentage_3{
            height: 20px;
            width: 100%;
            background-color: #fffbf1;
          }
          .pourcentage_5{
            height: 20px;
            width: 100%;
            background-color: #fffbf1;
          }
          
          .pourcentage_4{
            height: 20px;
            width: 100%;
            background-color: #fffbf1;
          }
          .pourcentage_6{
            height: 20px;
            width: 100%;
            background-color: #fffbf1;
          }
          
          .pourcentage_7{
            height: 20px;
            width: 100%;
            background-color: #fffbf1;
          }
          .raduis_1{
    
            background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);
        
              width:  65%;
              height: 20px;
              border-radius: 5px;
          }
          .raduis_2{
    
            background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);
        
            width:  70%;
            height: 20px;
            border-radius: 5px;
          }
          .raduis_5{
            background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);
        
            width:  80%;
            height: 30px;
            border-radius: 5px;
          }

          .raduis_1{
    
            background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);
        
              width:  80%;
              height: 20px;
              border-radius: 5px;
          }
          .raduis_4{
            background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);
        
            width:  80%;
            height: 20px;
            border-radius: 5px;
          }

          .raduis_6{
            width:  100%;
            height: 20px;
            border-radius: 5px;
            background-color: yellowgreen;
          }

          .raduis{
            background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);
        
              width:  85%;
              height: 20px;
              border-radius: 5px;
          }
          .raduis_5{
    
            background-image: radial-gradient(circle at top right, #ff8a00, red, #e52e71);
        
              width:  80%;
              height: 20px;
              border-radius: 5px;
          }
          .bigboxe{
          flex-direction: column;
          width: 100%;
          }
          
             }